extends ../pug/layout.pug

block meta
  title Sapeur
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +b.SECTION.hero
    +e.inner.inner
      +e.HEADER.heading
        +e.H1.title Sapeur — famous windows classic game
      +b.TABLE.field
        +e.TBODY.body
          - for (var i = 2; i > 0; i--)
            +e.TR.row
              - for (var i = 2; i > 0; i--)
                +e.TH.cell

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
