// В этом файле должны быть стили для БЭМ-блока field, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field {

  $block-name:                &; // #{$block-name}__element

  &__cell {
    @include size(50px);

    background-color: #d9d9d9;

    &--active {
      background-color: darken(#d9d9d9, 5%);
      box-shadow: inset 0 0 14px rgba(#000, 0.25);
    }

    &:not(#{$block-name}__cell--active) {
      cursor: pointer;
    }
  }
}
